* {
  box-sizing: border-box;
}


.border {
  border: 2px solid black;
}

.faIcon {
  font-size: 30px;
  margin-left: 2rem;
  padding: 0;
  margin-top: .35rem;
  
  
}

.iconGreen {
  color: rgb(4, 202, 4);
}

.iconOrange {
  color: orange;
}

.iconRed {
  color: red;
}

#error {
  color: red;
}

#activitiesHeader {
  font-weight: 500;
  font-size: 1.1em;
}

#activitiesDiv {
  border-top: 2px solid black;
}

#trash {
  color: black;
}